body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #E6EFF5;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #343C6A;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buy-section {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
    color: #555;
}

#buyingAmount {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.totalPrice {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
    font-weight: bold;
    color: #2f7bb5;
}

#expectedTotal {
    font-size: 18px;
    font-weight: bold;
    color: #e74c3c;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}

#buyBtn {
    background-color: #2f7bb5;
    color: white;
}

#sellBtn {
    background-color: #e74c3c;
    color: white;
}

button#buyBtn:hover {
    background-color: #1c5d86;
}

button#sellBtn:hover {
    background-color: #c0392b;
}

button#buyBtn:active {
    background-color: #1a4c6c;
}

button#sellBtn:active {
    background-color: #a93226;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* 버튼들을 오른쪽 끝으로 정렬 */
    gap: 10px; /* 버튼들 간 간격 */
}

.negative {
    color: #1976D2;
}

.positive {
    color: #D32F2F;
}