:root {
    --primary-2: rgba(52, 60, 106, 1);
    --primary-3: rgba(45, 96, 255, 1);
    --twitter-grey-2: rgba(83, 100, 113, 1);
    --heading-three-medium-18p-font-family: "Inter", Helvetica;
    --heading-three-medium-18p-font-weight: 500;
    --heading-three-medium-18p-font-size: 18px;
    --heading-three-medium-18p-letter-spacing: 0px;
    --heading-three-medium-18p-line-height: normal;
    --heading-three-medium-18p-font-style: normal;
}
