.trade-room {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.trade-room .overlap-wrapper {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 1175px;
}

.trade-room .overlap {
    position: relative;
    height: 1184px;
}

.trade-room .overlap-group {
    position: absolute;
    width: 1190px;
    height: 1083px;
    top: 101px;
    left: 250px;
    background-color: #f4f6f9;
}

.trade-room .dashboard {
    display: flex;
    width: 1000px;
    height: 1001px;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    padding: 10px;
    position: relative;
    top: 46px;
    left: 50px;
}

.trade-room .dashboard-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    align-self: stretch;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.trade-room .feed-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
}

.trade-room .text-wrapper {
    position: relative;
    align-self: stretch;
    height: 40px;
    margin-top: -1.00px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #343c6a;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 22px;
}

.trade-room .group {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 174px;
}

.trade-room .post-list {
    display: flex;
    flex-direction: column;
    width: 465px;
    align-items: center;
    gap: 15px;
    padding: 25px;
    position: relative;
    background-color: #ffffff;
    border-radius: 25px;
}

.trade-room .large-post {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #bcb8b8;
}

.trade-room .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.trade-room .title-bar {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
}

.trade-room .left-tools {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

.trade-room .text {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    position: relative;
    flex: 0 0 auto;
}

.trade-room .div-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.trade-room .div {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-weight: 700;
    color: #171717;
    font-size: 20px;
    letter-spacing: 0;
    white-space: nowrap;
    font-family: "Inter", Helvetica;
    line-height: normal;
}

.trade-room .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-weight: 700;
    color: #171717;
    font-size: 16px;
    letter-spacing: 0;
    white-space: nowrap;
    font-family: "Inter", Helvetica;
    line-height: normal;
}

.trade-room .bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.trade-room .text-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: -0.20px;
    font-family: "Inter", Helvetica;
    line-height: normal;
}

.trade-room .toolbar {
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
}

.trade-room .thread {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.trade-room .img {
    position: relative;
    width: 24px;
    height: 24px;
}

.trade-room .text-wrapper-3 {
    position: relative;
    width: fit-content;
    font-weight: 400;
    color: var(--twitter-grey-2);
    font-size: 16px;
    letter-spacing: 0;
    white-space: nowrap;
    font-family: "Inter", Helvetica;
    line-height: normal;
}

.trade-room .dashboard-right {
    height: 981px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.trade-room .rank-container {
    flex-direction: column;
    width: 465px;
    align-items: flex-start;
    display: flex;
    gap: 10px;
    position: relative;
}

.trade-room .text-wrapper-4 {
    position: relative;
    align-self: stretch;
    height: 31.5px;
    margin-top: -1.00px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #343c6a;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
}

.trade-room .rank-list {
    flex-direction: column;
    height: 939.5px;
    align-items: flex-start;
    padding: 20px;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff;
    border-radius: 25px;
    display: flex;
    gap: 10px;
    position: relative;
}

.trade-room .rank-box {
    align-items: center;
    justify-content: space-around;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    gap: 10px;
    position: relative;
}

.trade-room .frame-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.trade-room .frame-3 {
    display: flex;
    width: 207.81px;
    gap: 20px;
    align-items: center;
    position: relative;
}

.trade-room .frame-4 {
    display: inline-flex;
    gap: 10px;
    flex: 0 0 auto;
    align-items: center;
    position: relative;
}

.trade-room .text-wrapper-5 {
    position: relative;
    width: fit-content;
    font-family: "Inter", Helvetica;
    font-weight: 800;
    color: #ff4b4a;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.trade-room .iconfinder-business-wrapper {
    position: relative;
    width: 59.87px;
    height: 64.17px;
    background-color: #fff5d9;
    border-radius: 29.94px / 32.08px;
}

.trade-room .iconfinder-business {
    position: absolute;
    width: 30px;
    height: 33px;
    top: 15px;
    left: 15px;
}

.trade-room .frame-5 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.trade-room .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-weight: 600;
    color: #232323;
    font-size: 24px;
    letter-spacing: 0;
    font-family: "Inter", Helvetica;
    line-height: normal;
}

.trade-room .frame-6 {
    display: flex;
    flex-direction: column;
    width: 58px;
    height: 51px;
    align-items: flex-end;
    justify-content: center;
    gap: 7px;
    position: relative;
}

.trade-room .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-left: -7.00px;
    font-weight: 500;
    color: #232323;
    font-size: 18px;
    text-align: right;
    letter-spacing: 0;
    font-family: "Inter", Helvetica;
    line-height: normal;
}

.trade-room .text-wrapper-8 {
    position: relative;
    width: fit-content;
    margin-left: -31.00px;
    font-weight: 600;
    color: #718ebf;
    font-size: 15px;
    letter-spacing: 0;
    white-space: nowrap;
    font-family: "Inter", Helvetica;
    line-height: normal;
}

.trade-room .overlap-2 {
    position: absolute;
    width: 1440px;
    height: 1184px;
    top: 0;
    left: 0;
}

.trade-room .header {
    position: absolute;
    width: 1440px;
    height: 101px;
    top: 0;
    left: 0;
    background-color: transparent;
}

.trade-room .group-wrapper {
    position: absolute;
    width: 1440px;
    height: 100px;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.trade-room .group-2 {
    position: relative;
    width: 1292px;
    height: 96px;
    top: 2px;
    left: 38px;
}

.trade-room .group-3 {
    position: absolute;
    width: 438px;
    height: 96px;
    top: 0;
    left: 852px;
}

.trade-room .overlap-3 {
    position: absolute;
    width: 176px;
    height: 96px;
    top: 0;
    left: 262px;
}

.trade-room .img-2 {
    position: absolute;
    width: 96px;
    height: 96px;
    top: 0;
    left: 0;
}

.trade-room .overlap-group-2 {
    position: relative;
    height: 96px;
}

.trade-room .ellipse {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 23px;
    left: 23px;
    background-color: #f4f6f9;
    border-radius: 25px;
}

.trade-room .overlap-group-wrapper {
    position: absolute;
    width: 96px;
    height: 96px;
    top: 0;
    left: 80px;
}

.trade-room .group-4 {
    position: absolute;
    width: 257px;
    height: 52px;
    top: 23px;
    left: 0;
}

.trade-room .overlap-4 {
    position: relative;
    width: 255px;
    height: 52px;
}

.trade-room .rectangle {
    position: absolute;
    width: 255px;
    height: 50px;
    top: 0;
    left: 0;
    background-color: #f4f6f9;
    border-radius: 40px;
}

.trade-room .magnifying-glass {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    left: 25px;
}

.trade-room .text-wrapper-9 {
    position: absolute;
    top: 16px;
    left: 60px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #8ba3cb;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
}

.trade-room .logo {
    position: absolute;
    width: 185px;
    height: 36px;
    top: 29px;
    left: 0;
}

.trade-room .iconfinder-vector {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 0;
    left: 0;
    background-image: url(https://c.animaapp.com/8XNQhQzb/img/iconfinder-vector-65-09-473792-1@2x.png);
    background-size: cover;
    background-position: 50% 50%;
}

.trade-room .text-wrapper-10 {
    position: absolute;
    top: 4px;
    left: 45px;
    font-family: "Mont-HeavyDEMO", Helvetica;
    font-weight: 400;
    color: var(--primary-2);
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
}

.trade-room .text-wrapper-11 {
    position: absolute;
    top: 35px;
    left: 262px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #343c6a;
    font-size: 28px;
    letter-spacing: 0;
    line-height: normal;
}

.trade-room .rectangle-2 {
    position: absolute;
    width: 1190px;
    height: 1px;
    top: 100px;
    left: 250px;
    background-color: #e5eef4;
}

.trade-room .sidebar-menu {
    position: absolute;
    width: 250px;
    height: 1184px;
    top: 0;
    left: 0;
}

.trade-room .group-5 {
    position: absolute;
    width: 174px;
    height: 297px;
    top: 114px;
    left: 0;
}

.trade-room .text-wrapper-12 {
    position: absolute;
    top: 83px;
    left: 95px;
    font-weight: var(--heading-three-medium-18p-font-weight);
    color: #b1b1b1;
    font-size: var(--heading-three-medium-18p-font-size);
    letter-spacing: var(--heading-three-medium-18p-letter-spacing);
    font-family: var(--heading-three-medium-18p-font-family);
    line-height: var(--heading-three-medium-18p-line-height);
    font-style: var(--heading-three-medium-18p-font-style);
}

.trade-room .text-wrapper-13 {
    position: absolute;
    top: 147px;
    left: 95px;
    font-weight: 500;
    color: #b1b1b1;
    font-size: 18px;
    letter-spacing: 0;
    font-family: "Inter", Helvetica;
    line-height: normal;
}

.trade-room .text-wrapper-14 {
    position: absolute;
    top: 274px;
    left: 95px;
    font-weight: 500;
    color: #b1b1b1;
    font-size: 18px;
    letter-spacing: 0;
    font-family: "Inter", Helvetica;
    line-height: normal;
}

.trade-room .settings-solid {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 272px;
    left: 44px;
}

.trade-room .text-wrapper-15 {
    position: absolute;
    top: 211px;
    left: 95px;
    font-weight: 500;
    color: #b1b1b1;
    font-size: 18px;
    letter-spacing: 0;
    font-family: "Inter", Helvetica;
    line-height: normal;
}

.trade-room .service {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 209px;
    left: 44px;
}

.trade-room .economic-investment {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 142px;
    left: 42px;
}

.trade-room .user {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 83px;
    left: 44px;
}

.trade-room .group-6 {
    position: absolute;
    width: 168px;
    height: 60px;
    top: 0;
    left: 0;
}

.trade-room .home {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 17px;
    left: 44px;
}

.trade-room .text-wrapper-16 {
    position: absolute;
    top: 19px;
    left: 95px;
    font-weight: 500;
    color: var(--primary-3);
    font-size: 18px;
    letter-spacing: 0;
    font-family: "Inter", Helvetica;
    line-height: normal;
}

.trade-room .rectangle-3 {
    position: absolute;
    width: 6px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: var(--primary-3);
    border-radius: 0px 10px 10px 0px;
}

.trade-room .rectangle-4 {
    position: absolute;
    width: 1px;
    height: 1184px;
    top: 0;
    left: 249px;
    background-color: #e6eff5;
}
